/*HERO*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background: var(--bg-main);
}

.hero-left {
  width: 45%;
}

.hero-left h1 {
  font-size: 3rem;
  color: var(--text-main);
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero-left p {
  color: var(--text-muted);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-books {
  max-width: 100%;
  border-radius: 4px;
}
/*FEATURES*/
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background: var(--bg-card);
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feature-item i {
  font-size: 2.3rem;
  color: var(--brand);
}

.feature-item h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: .3rem;
}

.feature-item p {
  font-size: .9rem;
  color: var(--text-muted);
}
/*FEATURED BOOKS*/
/* SECTION TITLE */
.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: 2rem;
}

/* HORIZONTAL SCROLL */
.books-row {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding: 0 1.5rem 1rem;
  scroll-behavior: smooth;
  width: min(1100px, 90vw);
  margin: 0 auto;
  justify-content: flex-start;
}

.books-row::-webkit-scrollbar {
  height: 8px;
}

.books-row::-webkit-scrollbar-thumb {
  background: var(--brand);
  border-radius: 10px;
}

.books-row::-webkit-scrollbar-track {
  background: var(--bg-muted);
}


/*SUBSCRIBE SECTION*/
.subscribe-section {
  display: flex;
  justify-content: flex-end; /* контент справа */
  padding: 3rem 4rem;        /* большой правый отступ */
  background: var(--bg-card); /* чистый белый фон */
  height: 300px; /* высота как у секции с фото, можешь менять */
  align-items: center;
}

/* RIGHT SIDE ONLY */
.subscribe-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.subscribe-right h2 {
  color: var(--text-main);
  font-size: 1.8rem;
  font-weight: 700;
}

/* INPUT */
.subscribe-input {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--bg-main);
  color: var(--text-main);
  font-size: 1rem;
}

/* BUTTON */
.subscribe-btn {
  width: fit-content;
  padding: 0.8rem 2rem;
  background: var(--brand);
  color: var(--text-on-brand);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.subscribe-btn:hover {
  background: var(--brand-hover);
}
