/* BOOK CARD */
.book-card {
  min-width: 230px;
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: var(--shadow-soft);
}

/* IMAGE WRAPPER */
.book-image {
  position: relative;
  width: 100%;
  height: 220px;
  background: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEART ICON */
.book-image i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.6rem;
  color: var(--text-main);
  cursor: pointer;
  transition: 0.2s;
}

.book-image i:hover {
  color: var(--brand);
}

/* BOOK NAME */
.book-card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-main);
}

/* PRICE */
.price {
  margin-bottom: 1rem;
}

.price .current {
  font-weight: 700;
  color: var(--brand);
}

.price .old {
  margin-left: .5rem;
  text-decoration: line-through;
  color: var(--text-muted);
}
/* ============ 576px ============ */
@media (max-width: 576px) {
  .book-card {
    min-width: 180px;
  }

  .book-image {
    height: 180px;
  }
}

/* ============ 400px ============ */
@media (max-width: 400px) {
  .book-card {
    min-width: 160px;
  }

  .book-image {
    height: 160px;
  }
}
