<footer class="footer">
  <div class="footer-top">
    <div class="footer-col">
      <h3>Our Locations</h3>
      <ul>
        <li><i class='bx bx-map'></i> Almaty</li>
        <li><i class='bx bx-map'></i> London</li>
        <li><i class='bx bx-map'></i> Kaskelen</li>
        <li><i class='bx bx-map'></i> Tokyo</li>
        <li><i class='bx bx-map'></i> Astana</li>
        <li><i class='bx bx-map'></i> Boston</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Quick Links</h3>
      <ul>
        <li><i class='bx bx-chevron-right'></i> <a href="/pages/index.html">Home</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="/pages/index.html#featured">Featured</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="/pages/library.html">Library</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="/pages/index.html#reviews">Reviews</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Extra Links</h3>
      <ul>
        <li><i class='bx bx-chevron-right'></i> <a href="javascript:void(0)">Account Info</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="javascript:void(0)">Ordered Items</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="javascript:void(0)">Privacy Policy</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="javascript:void(0)">Payment Method</a></li>
        <li><i class='bx bx-chevron-right'></i> <a href="javascript:void(0)">Our Services</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Contact Info</h3>
      <ul>
        <li><i class='bx bx-phone'></i> +7776-777-77777</li>
        <li><i class='bx bx-phone'></i> +7777-666-6666</li>
        <li><i class='bx bx-envelope'></i> bookify@gmail.com</li>
      </ul>
    </div>
  </div>

  <div class="footer-socials">
    <a href="#" class="circle"><i class='bx bxl-facebook'></i></a>
    <a href="#" class="circle"><i class='bx bxl-twitter'></i></a>
    <a href="#" class="circle"><i class='bx bxl-instagram'></i></a>
    <a href="#" class="circle"><i class='bx bxl-linkedin'></i></a>
    <a href="#" class="circle"><i class='bx bxl-pinterest'></i></a>
  </div>

  <div class="footer-bottom">
    <span class="brand-text">Bookify</span> | All Rights Reserved!
  </div>
</footer>
