<header class="header-fixed">
  <div class="top-nav">
    <div class="logo">Bookify</div>

    <div class="search-box">
      <input type="text" placeholder="search here...">
      <i class='bx bx-search'></i>
    </div>

    <div class="icons">
      <a href="favorites.html">
        <i class='bx bx-heart'></i>
      </a>
      <a href="cart.html">
        <i class='bx bx-cart'></i>
      </a>
      <i class='bx bx-user'></i>
    </div>
  </div>

  <nav class="bottom-nav">
    <a href="index.html">Home</a>
    <a href="index.html#featured">Featured</a>
    <a href="library.html">Library</a>
    <a href="index.html#reviews">Reviews</a>
  </nav>
</header>
