*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding-top: 140px;
  padding-inline: 0;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-weight: 700;
}

@media (max-width: 768px) {
  body {
    padding-top: 170px;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 190px;
  }
}
