body {
  background: var(--bg-main);
  color: var(--text-main);
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding-top: 140px; /* offset fixed header height */
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-weight: 700;
}
